services:
  api:
    build: .
    environment:
      PORT: 3000
      DATABASE_URL: postgresql://postgres:postgres@db:5432/fintech_core
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: fintech_core
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
